.about{
    
    width: 80vw;
    margin: auto;
}

.about1{
margin-left: 20px;
display: flex;

}

h2{
    font-weight: 700;
    font-size: medium;
    align-items: flex-start;
}
.aboutgrid{
    display: flex;
    margin-top: -20px;
   
}
.aboutgrid div{
    /* border: 1px solid red; */
    margin-right: 20px;
    width: 50%;
    padding: 20px;

}
img{
    width: 40vw;
    height: 100%;
}

h1{
    text-align: left;}

h1+h1{
    text-align: left;
    
}

@media all and (min-width:100px) and (max-width:450px){
    .aboutgrid{
        display: grid;
        border: 1px solid black;
    }
    .aboutgrid div{
        /* border: 1px solid red; */
      
        width: 95%;
       
    
    }
    h1{
        font-size: medium;
        padding: 3px;
    }
 

    p{
        font-size: 10px;
    }

    img{
        width: 80vw;
        
    }
   
}

@media all and (min-width:451px) and (max-width:770px){
    .aboutgrid{
        display: grid;
      
    }
    .aboutgrid div{
       width: 95%;
       
    
    }
    h1{
        font-size: larger;
        padding: 3px;
    }
 

    p{
        font-size: 15px;
    }

    img{
        width: 80vw;
        height: 100%;
    }
}

@media all and (min-width:771px) and (max-width:1024px){
    .aboutgrid{
        display: grid;
      
    }
    .aboutgrid div{
       width: 98%;
    }
  
    p{
        font-size: 15px;
    }

    img{
        width: 80vw;
        height: 100%;
    }
}